

    .main{
        padding: 100px 0 0 0;
    }

    .main h1{
        margin: 0 0 20px 0 !important;
    }

    .form-label{
        font-weight: bold;
    }

    .formulario{
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
    }

    .hidden{
        display: none;
    }